<div style="display: flex">
  <div class="left">
    <img src="../../../assets/icon.svg" alt="" width="50px">
    <h1>Rust Stash</h1>
    <h4>Manage. Craft. Track</h4>
    <app-button
      text="Access Stash"
      class="btn-primary"
      [disabled]="false"
      (btnClick)="checkUser()"
    ></app-button>
    <p>or</p>
    <br>
    <p style="text-decoration: underline; cursor:pointer" routerLink="/signup">Sign up</p>
  </div>
  <div class="right">
    <div class="slider">
      <div class="slide-track">
        <div class="slide" *ngFor="let image of images">
          <img [src]="image" height="100" width="250" alt="" />
        </div>
        <div class="slide" *ngFor="let image of images">
          <img [src]="image" height="100" width="250" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>
<app-auth-modal *ngIf="authMode"></app-auth-modal>  
