<div class="container">

    <div class="cards">
      <div class="card is-loading">
        <div class="image"></div>
        <div class="content">
          <h2></h2>
          <p></p>
        </div>
      </div>
    </div>
</div>

<!-- <div class="container">
    <app-skeleton-loader></app-skeleton-loader>
    <div class="modal" style="display: none">
      <div class="left">
        <img/>
      </div>
      <div class="middle">
        <h1></h1>
        <br />
        <div class="middle__flex" >
          <p class="middle__category"></p>
        </div>
        <br />
        <p></p>
        <div class="middle__flex">
        </div>
      </div>
      <div class="right">
        <h4>Update Quantity</h4>
        <div class="right__flex">
          <h4><b></b></h4>
        </div>
      </div>
    </div>
  </div> -->
