@import "../../../styles.scss";
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  padding: 50px 50px 0px 50px;

  .nav-group {
    width: 30%;
    display: flex;
    justify-content: space-between;

    .active {
      text-decoration: 5px underline $green;
      color: $green;
    }

    li {
      color: #1e2020;
      position: relative;
      text-decoration: none;
    }

    li::before {
      background: #ce422b;
      content: "";
      inset: 0;
      position: absolute;
      transform: scaleX(0);
      transform-origin: right;
      transition: transform 0.3s ease-in-out;
      z-index: -1;
    }

    li:hover::before {
      transform: scaleX(1);
      transform-origin: left;
    }

    li {
      padding: 10px;
      &:hover {
        cursor: pointer;
        color: #f6eae0;
      }
    }

    a {
      text-decoration: none;
      color: #1e2020;
    }
  }
}
