<div style="display: flex">
  <div class="left">
    <h3 style="color: #CE422B">Why Sign Up ?</h3>
    <div class="tip-block">
      <p>
        Sign Up and take control of the stash and change it however you want to.
        You can also craft new items from existing items in the stash.
      </p>
    </div>
    <div class="tip-block">
      <p>
        You only need to supply your email address. Because that is your way of authenticating if you are on the system.
      </p>
    </div>
    <div class="tip-block">
      <p>
        You will then be given a 4-digit code, that you will enter on the home screen at an indicated section
      </p>
    </div>
    <div class="tip-block">
      <p>
        If the 4-digit code matches our records, you will be granted access to your stash and the rest of the inventory.
      </p>
    </div>
  </div>
  <div class="right">
    <h1>Sign Up</h1>
    <div class="form-group">
      <form>
        <label for="">Email</label>
        <input type="email" placeholder="email" />
        <label for="">Confirm email</label>
        <input type="email" placeholder="confirm email" />
        <app-button
          text="Submit"
          type="submit"
          class="btn-secondary"
        ></app-button>
      </form>
    </div>
  </div>
</div>
