@import '../../../styles.scss';
.left{
    width: 60%;
    height: 100vh;
    background: url('../../../assets/image\ 49.jpg');
    background-position: center;
    color: $white;
}

.right{
    display: flex;
    flex-flow: column;
    justify-content: center;
    text-align: center;
    width: 40%;
    height: 100vh;
    padding: 50px;
    background-color: $red;

    .form-group{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    form{
        margin-top: 100px;
        width: 100%;
        display: flex;
        flex-flow: column;
        justify-content: center;
        text-align: left;

        label{
            color: $white;
        }

        input{
            margin-bottom:30px;
            width: 50%;
            background-color: transparent;
            border: none;
            border-bottom: 2px solid $black;
            outline: none;
            padding: 5px;
            color: $white;
            font-size: $heading4;

            &:focus{
                border-bottom: 2px solid $white;
            }
        }
    }
}