@import '../../../styles.scss';
.left{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 100vh;
    object-fit: contain;
    background-position: center;
    color: $white;


    .background{
        width: 100%;
        position: absolute;
        z-index: -1;
    }
}

.right{
    display: flex;
    flex-flow: column;
    justify-content: center;
    text-align: center;
    width: 40%;
    height: 100vh;
    padding: 50px;
    background-color: $red;

    .form-group{
        width: 100%;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }

    form{
        margin-top: 100px;
        width: 100%;
        display: flex;
        flex-flow: column;
        justify-content: center;
        text-align: left;

        label{
            color: $white;
        }

        input{
            margin-bottom:0px;
            width: 100%;
            background-color: transparent;
            border: none;
            border-bottom: 2px solid $black;
            outline: none;
            padding: 5px;
            color: $white;
            font-size: $heading4;

            &::placeholder{
                color: darkred;
                opacity: 0.5;
                font-style: italic;
            }

            &:focus{
                border-bottom: 2px solid $white;
            }

            &:-webkit-autofill{
                -webkit-box-shadow: 0 0 0 30px $red inset;
                -webkit-text-fill-color: $white;
            }

        }
        .divider{
            border: 3px solid #a53522;
            margin: 30px 0px;
        }

        .error-msg{
            color: $black;
            margin-top: 10px;
            display: flex;
            align-items: center;
        }
    }
}