<div style="display: flex">
  <div class="left">
    <img class="background" src="../../../assets/image 49.jpg" alt="" />
    <img src="../../../assets/logo-dark.svg" width="500" />
    <h3 style="color: #ce422b">Why Sign Up ?</h3>
    <div class="tip-block">
      <p>
        Sign Up and take control of the stash and change it however you want to.
        You can also craft new items from existing items in the stash.
      </p>
    </div>
    <div class="tip-block">
      <p>
        You only need to supply your email address. Because that is your way of
        authenticating if you are on the system.
      </p>
    </div>
    <div class="tip-block">
      <p>
        You will then be given a 4-digit code, that you will enter on the home
        screen at an indicated section
      </p>
    </div>
    <div class="tip-block">
      <p>
        If the 4-digit code matches our records, you will be granted access to
        your stash and the rest of the inventory.
      </p>
    </div>
  </div>
  <div class="right">
    <h1>Sign Up</h1>
    <div class="form-group">
      <form (ngSubmit)="onSubmit()" #f="ngForm">
        <label for="email">Email</label>
        <input
          type="email"
          placeholder="email"
          name="email"
          [ngModel]=""
          required
          email
          #email="ngModel"
        />
        <br />
        <br />
        <label for="emailCon">Confirm email</label>
        <input
          type="email"
          placeholder="confirm email"
          name="emailCon"
          [ngModel]=""
          required
          email
          #email="ngModel"
        />
        <span class="error-msg" *ngIf="user.email !== user.emailCon"
          ><span class="material-symbols-outlined"> error </span> Emails do not
          match</span
        >
        <app-button
          text="Submit"
          type="submit"
          class="btn-secondary"
        ></app-button>
        <p routerLink="/">Cancel</p>
      </form>
    </div>
  </div>
</div>
