<div class="container">
  <div class="about-developer">
    <div class="red-block">
      <div class="left">
        <img src="../../../assets/logo-light.svg" alt="" width="800px" />
      </div>
      <div class="right">
        <p>
          Rust Stash is an inventory management system designed specifically for
          the popular game Rust. <br />
          With Rust Stash, users can easily manage their inventory and craft
          items right from within the game. <br />
          Additionally, Rust Stash enables users to craft between locations and
          send inventory from one location to another.
        </p>
      </div>
    </div>
    <div class="white-block">
      <div class="left">
        <img src="../../../assets/me.png" width="300px" />
      </div>
      <div class="right">
        Hello! My name is Wiaan Duvenhage. I am currently a final year student
        at The Open Window. <br /><br />

        <p>
          I appreciate you taking the time to review Rust Stash. It was a
          project that I found quite enjoyable, despite encountering a few
          obstacles and setbacks. Overall, I am pleased with how it turned out.
        </p>
      </div>
    </div>
  </div>
</div>
