<div class="container">
  <h1 style="text-align: center">Bases</h1>
  <br />
  <br />
  <div class="grid-3">
    <div
      class="location-container"
      *ngFor="let location of locationData; let i = index"
      (click)="filterByLocation(locationData[i]._id)"
      [ngClass]="
        locationData[i]._id === activeLocation ? 'location-filter-active' : ''
      "
    >
      <img
        src="{{ location.img }}"
        alt="base_1"
        (click)="filterByLocation(locationData[i]._id)"
      />
      <h4 class="location-name">{{ location.name }}</h4>
      <p class="address">Address: {{ location.address }}</p>
    </div>
  </div>
  <br />
  <br />
  <br />
  <br />
  <div class="grid-4">
    <div class="item-con" *ngFor="let location of filteredData; let i = index">
      <h1 style="text-align: center">{{ filteredData[i].name }}</h1>
      <h4>Total Inventory: {{location.locationItems.length}}</h4>
      <br />
      <br />
      <br />
      <div>
        <table>
          <thead>
            <tr>
              <th>Image</th>
              <th>Name</th>
              <th>Qty</th>
              <th>Categories</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of location.locationItems">
              <td>
                <img src="{{ item.materialId.img }}" alt="" width="100px" />
              </td>
              <td>
                <h4>{{ item.materialId.name }}</h4>
              </td>
              <td>
                <h4>{{ item.qty }}</h4>
              </td>
              <td>
                <h4 *ngFor="let i of item.materialId.categories">{{ i }}</h4>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <app-button
      text="close"
      class="btn-primary"
      (click)="onClose()"
    ></app-button>
  </div>
  <p *ngIf="!selected">Choose A Base</p>
</div>
