@import '../../../styles.scss';
.btn-primary {
	background-color: $red;
	width: 100%;
	border: 0px;
    color: $white;
    padding: 20px;
    margin-top: 30px;
    font-size: $heading5;

    &:hover{
        background-color: $green;
        cursor: pointer;
    }
}

.btn-secondary{
    background-color: $black;
	width: 100%;
	border: 0px;
    color: $white;
    padding: 20px;
    margin-top: 30px;
    font-size: $heading5;

    &:hover{
        background-color: $white;
        color: $black;
        cursor: pointer;
    }
}

.btn-craft{
    background-color: $green;
	width: 100%;
	border: 0px;
    color: $white;
    padding: 20px;
    margin-top: 30px;
    font-size: $heading5;

    &:hover{
        cursor: pointer;
    }
}