<div class="container">
  <div class="left">
    <!-- TODO: Add more filters -->
    <app-quick-filter></app-quick-filter>
  </div>
  <div class="right">
    <div class="right__header-group">
      <h1>Stash</h1>
      <input
        placeholder="Filter..."
        class="right__header-group__filter"
        type="text"
        [(ngModel)]="searchParam"
        (ngModelChange)="searchMaterials()"
      />
    </div>
    <div class="right__btn-group">
      <!-- TODO: Add filtering functionality -->
      <!-- <h4
        class="location-filter"
        routerLink="/stash"
        routerLinkActive="location-filter-active"
      >
        All Stash
      </h4> -->
      <h4
        *ngFor="let location of locationData; let i = index"
        class="location-filter"
        routerLinkActive="location-filter-active"
        (click)="filterByLocation(locationData[i]._id)"
        [ngClass]="
          locationData[i]._id === activeLocation ? 'location-filter-active' : ''
        "
      >
        {{ location.name }}
      </h4>
    </div>
    <hr class="divider-h" />
    <div class="right__inventory">
      <div
        class="right__inventory__card"
        *ngFor="let location of filteredData; let i = index"
      >
        <div class="div" *ngFor="let item of location.locationItems">
          <img
            class="right__inventory__card__image"
            src="{{ item.materialId.img }}"
          />
          <p>{{ item.materialId.name }}</p>
          <p class="right__inventory__card__qty" [ngClass]="item.qty < 30 ? 'lowQty' : ''">
            <b>{{ item.qty }}</b>
            <span class="material-symbols-outlined" *ngIf="item.qty < 30"
              >Error</span
            >
          </p>
          <div class="right__inventory__card__overlay_btn"></div>
          <app-button
            text="Update"
            class="btn-primary"
            (click)="showComponent(location._id, item.materialId._id)"
          ></app-button>
        </div>
        <div class="none-found" *ngIf="filteredData.length === 0">
          <h4>! No Stash Items found !</h4>
        </div>
        <app-update-modal
          *ngIf="display"
          [qty]="locationMaterial.qty"
          [name]="locationMaterial.materialId.name"
          [desc]="locationMaterial.materialId.desc"
          [img]="locationMaterial.materialId.img"
          [categories]="locationMaterial.materialId.categories"
          [locationId]="location._id"
          [materialId]="activeMaterial"
          (btnClick)="hideComponent()"
        ></app-update-modal>
      </div>
    </div>
    <div class="select-prompt" *ngIf="!filteredData">
      <h1 style="text-align: center">
        Select a Stash
      </h1>
      <h4 style="text-align: center">
        Click on one of the locations above
      </h4>
    </div>
  </div>
</div>
