<div class="container">
  <div class="left">
    <app-quick-filter></app-quick-filter>
  </div>
  <div class="right">
    <div class="right__header-group">
      <p>
        <b>{{ stash.length }}</b> Total Stash Items
      </p>
      <h1>Stash</h1>
      <input
        placeholder="Filter..."
        class="right__header-group__filter"
        type="text"
        [(ngModel)]="searchParam"
        (ngModelChange)="searchStash()"
      />
    </div>
    <div class="right__btn-group">
      <app-button text="Wood Base" class="btn-primary"></app-button>
      <app-button text="Stone Base" class="btn-primary"></app-button>
      <app-button text="Metal Base" class="btn-primary"></app-button>
    </div>
    <hr class="divider-h" />
    <div class="right__inventory">
      <div class="right__inventory__card" *ngFor="let item of stash">
        <img class="right__inventory__card__image" src="{{ item.img }}" />
        <p>{{ item.name }}</p>
        <div class="right__inventory__card__overlay_btn">
          <app-button
            text="Update"
            class="btn-primary"
            (click)="showComponent(item._id)"
          ></app-button>
        </div>
      </div>
      <div class="none-found" *ngIf="stash.length === 0">
        <h4>! No Stash Items found !</h4>
      </div>
      <app-update-modal
        *ngIf="display"
        [name]="materialData['name']"
        [desc]="materialData['desc']"
        [img]="materialData['img']"
        [qty]="2"
        [categories]="materialData['categories']"
        (click)="hideComponent()"
      ></app-update-modal>
    </div>
  </div>
</div>
