<div class="container">
  <div class="left">
    <app-quick-filter></app-quick-filter>
  </div>
  <hr />
  <div class="right">
    <div class="right__header-group">
      <p>245 Total Stash Items</p>
      <h1>Stash</h1>
    </div>
    <div class="right__btn-group">
      <app-button text="Wood Base" class="btn-primary"></app-button>
      <app-button text="Stone Base" class="btn-primary"></app-button>
      <app-button text="Metal Base" class="btn-primary"></app-button>
    </div>
    <hr class="divider-h" />
    <div class="right__inventory">
      <div class="right__inventory__card" *ngFor="let item of stash;">
        <img
          class="right__inventory__card__image"
          src={{item.img}}
        />
        <p>{{item.name}}</p>
        <div class="right__inventory__card__overlay_btn">
          <app-button text="Update" class="btn-primary"></app-button>
        </div>
      </div>
      <!-- <div class="right__inventory__card">
        <img
          class="right__inventory__card__image"
          src="../../../assets/image 11.png"
        />
        <p>Gear</p>
        <div class="right__inventory__card__overlay_btn">
          <app-button text="Update" class="btn-primary"></app-button>
        </div>
      </div>
      <div class="right__inventory__card">
        <img
          class="right__inventory__card__image"
          src="../../../assets/image 12.png"
        />
        <p>Charcoal</p>
        <div class="right__inventory__card__overlay_btn">
          <app-button text="Update" class="btn-primary"></app-button>
        </div>
      </div>
      <div class="right__inventory__card">
        <img
          class="right__inventory__card__image"
          src="../../../assets/image 13.png"
        />
        <p>Sewing Kit</p>
        <div class="right__inventory__card__overlay_btn">
          <app-button text="Update" class="btn-primary"></app-button>
        </div>
      </div>
      <div class="right__inventory__card">
        <img
          class="right__inventory__card__image"
          src="../../../assets/image 14.png"
        />
        <p>Tech Parts</p>
        <div class="right__inventory__card__overlay_btn">
          <app-button text="Update" class="btn-primary" (click)="showComponent()"></app-button>
        </div>
      </div> -->
      <app-update-modal *ngIf="display" (click)="hideComponent()"></app-update-modal>
    </div>
  </div>
</div>
