<div
  class="container"
  style="
    display: flex;
    justify-content: center;
    flex-flow: column;
    width: 100%;
    text-align: center;
  "
>
  <h1>Craft</h1>
  <br />
  <div class="location-filter-block">
    <p>Select your crafting location</p>
    <br />
    <div class="locations">

      <h4
        *ngFor="let location of locationData; let i = index"
        class="location-filter"
        routerLinkActive="location-filter-active"
        (click)="filterByLocation(locationData[i]._id)"
        [ngClass]="
          locationData[i]._id === activeLocation ? 'location-filter-active' : ''
        "
      >
        {{ location.name }}
      </h4>
    </div>
  </div>
  <br />
  <div class="recipes" [ngClass]="!isClicked ? 'disabled' : ''">
    <h4 class="helper-text">Click a recipe below to see if you can craft</h4>
    <app-craft-block
      *ngFor="let recipe of recipes; let i = index"
      [name]="recipe.name"
      [img]="recipe.recipeImg"
      [desc]="recipe.desc"
      [categories]="recipe.categories"
      [canCraft]="recipe.ingredients.canCraft"
      [ingredients]="recipe.ingredients"
      [materials]="filteredData"
      [recipeData]="recipes"
      [recipeId]="recipes[i]._id"
      [currentLocation]="activeLocation"
    ></app-craft-block>
  </div>
</div>
