@import "../../../styles.scss";
.filter-item {
  padding: 20px 10px;
  width: 100%;
  &:hover {
    color: $red;
    cursor: pointer;
  }

}
.active{
  background-color: $black;
  color: $white;
  padding: 20px 10px;
  width: 100%;
}
