<div class="container">
  <h2 style="height: 1%;">Stone Pickaxe</h2>
  <div class="recipe-block">
    <div class="img-block">
      <img src="../../../assets/image 3.png" alt="" width="100" />
      <p>3</p>
      <p>Rifle Body</p>
    </div>
    <h1>+</h1>
    <div class="img-block">
      <img src="../../../assets/image 5.png" alt="" width="100" />
      <p>1</p>
      <p>Spring</p>
    </div>
    <h1>+</h1>
    <div class="img-block">
      <img src="../../../assets/image 11.png" alt="" width="100" />
      <p>25</p>
      <p>Gear</p>
    </div>
  </div>
  <div class="tool-block">
    <img src="../../../assets/image 21.png" alt="" width="100" />
    <p>Sheet Metal</p>
    <app-button text="CRAFT" class="btn-craft"></app-button>
  </div>
</div>
